<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/seriesCategory.css">
<head>
    <title>Series Categories</title>
</head>
<body>
    <h1>Porsche Series [[${seriesBanner.seriesName}]]</h1>

    <a th:href="@{/series}">
        <button type="submit">Back</button>
    </a> 
    
    <div th:each="modelDescriptions : ${modelDescriptions}">
        <h2 th:text="${modelDescriptions.seriesCategory}">Category Name</h2>
        <p th:text="${modelDescriptions.description}">Category Description</p>
        <a th:href="@{/series/{seriesName}/{seriesCategory}(seriesName=${seriesBanner.seriesName},
            seriesCategory=${modelDescriptions.seriesCategory})}">
            <img th:src="@{${modelDescriptions.photo}}" alt="Image" />
        </a>
    </div> <br/>
</body>
</html>